[APOLLO]
base_url = # Apollo webservice base URL
username = 
password = 
[MAILGUN]
url = # mailgun webservice base URL
api_key =  
[EMAIL]
base_url = # email address lookup service
client_id = # `user name` for the application in the email address lookup service
client_secret = # API_key for the email address lookup service
from_address = # from/replay email address
moderator = # email address of moderator
summary_subject = # email subject line
error_subject = # email subject line
summary_static_footer = # file path to email footer
error_static_footer =  # file path to email footer
[SETUP]
mode=  # use 'live' to sent email to annotator, any other value will sent email to moderator.
organism_file= # path to file listing the organisms in apollo to be included in the summary.
dir = # output dir, deleted at each run.
days= # time period in days to download annotation from i.e 3 will downlaod annotation added in the last 3 days.
[PIPELINE]
# use yes/no as values; It does not make much sense to run both.
summary_annotation=
recent_annotation=

